---
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Whoami">
  <main class="main-content">
    <h1 class="section-title">whoami</h1>
    <p>English version of the about page is coming soon...</p>
  </main>
</Layout>
