---
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Blog">
  <main class="main-content">
    <h1 class="section-title">./blog</h1>
    <p>English version of the blog is coming soon...</p>
  </main>
</Layout>
