---
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Projects">
  <main class="main-content">
    <h1 class="section-title">./projects</h1>
    <p>English version of the projects page is coming soon...</p>
  </main>
</Layout>
