---
import Layout from '../layouts/Layout.astro';
import Icon from '../components/Icon.astro';
import { iconPaths } from '../components/IconPaths';

const allIconNames = Object.keys(iconPaths);
---

<Layout title="MatrixTerm Blog">
  <main class="main-content">
    <h1>Hello Matrix</h1>
  </main>
</Layout>
